@media (max-width: 991px) {
  .header {
    .navbar {
      .mobile-nav-toggle {
        display: block;
      }

      ul {
        display: none;
      }
    }

    &.header-scrolled {
      .navbar-logo {
        display: block;
      }
    }
  }

  main {
    .banner {
      background-image: linear-gradient(180deg, rgba(233, 78, 27, .6) 0%, rgba(252, 234, 16, .9)), url(../img/backgrounds/banner_mobile.webp);
      background-attachment: unset;

      .banner_logo-container {
        width: 100%;
        padding: 1.5rem;

        h1 {
          font-size: 1.7rem;
        }

        .divider {
          height: 1px;
        }
      }
    }

    .about {
      svg {
        width: 140%;
        left: -15%;
      }
    }

    .experience {
      .second-row {
        flex-direction: column-reverse;
      }
    }

    .contacts {
      .container {
        .row {
          .map-col {
            padding: .5rem;
          }
        }
      }
    }
  }
}